body {
    border: 0;
    background: #000;
    margin: 0;
    padding: 0;
}

.postCard {
    height: 300px;
    width: 500px;
    background: #fff;
}

.postCard .header {
    background: #ccc;
    height: 50px;
    width: 100%;
}

.postCard .main {
    background: #333;
    height: 200px;
    width: 100%;
}

.postCard .main .columnLeft{
    background: #454;
    height: 200px;
    width: 50%;
    float: left;
}

.postCard .main .columnRight{
    background: #767;
    height: 200px;
    width: 50%;
    float: right;
}

.postCard .footer {
    background: #ccc;
    height: 50px;
    width: 100%;
}